* {
  margin: 0;
  box-sizing: border-box;
 
}

*::-webkit-scrollbar {
  width: 8px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 375px !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  height: 80px;
}

.navBar {
  display: flex;
  justify-content: space-between;

  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;
  background: #ffffff;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
}

.nav-link {
  color: #263238;
  text-decoration: none;
}

.nav-link-login {
  color: #FFF;
  text-decoration: none;
}

.logo {
  color: #263238;
  font-size: 30px;
  font-weight: bold;
  padding: 0 20px;
  line-height: 80px;
}

.nav-menu {
  display: flex;
  margin-right: 20px;
  list-style: none;
}

.nav-menu-item {
  font-size: 20px;
  color: #263238;
  margin: 0 10px;
  line-height: 80px;
}

.nav-menu-item-login {
  font-size: 20px;
  color: #FFF;
  margin: 0 10px;
  line-height: 60px;
}

.productImg {
  height: 305px;
  background: #eceff1;
  color: #33333a;
  align-items: center;
  display: flex;
  justify-content: center;
  font-size: 30px;
  opacity: 0.4;
}

.productHeader {
  height: 163px;
  border-bottom: 1px solid #f9f8f6;
}

.titleProductHeader {
  font-size: 30px;
  top: 17px;
  text-align: center;
}

.ratingProduct {
  height: 21px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.productStarts {
  color: #d61043;
  padding: 0 3px;
  font-size: 18px;
}

.productStartOf {
  font-size: 16px;
  padding: 5px 10px;
  color: #666666;
}

.priceProduct {
  font-size: 24px;
  font-weight: bold;
  align-items: center;
  display: flex;
  justify-content: center;
  line-height: 30px;
  padding: 5px 0;
}

.productSpecs {
  height: 104px;
  margin-top: 15px;
}

.section{
  padding-top: 15px;
  padding-bottom: 15px;
}

.productSize {
  height: 40px;
  display: flex;
  justify-content: space-between;
}

.productkit {
  height: 40px;
  display: flex;
  justify-content: space-between;
  margin-top: 22px;
}

.btnSpecs {
  width: 44px;
  height: 40px;
  margin-left: 5px;
  background: transparent;
  border: 1px solid #dedede;
  box-sizing: border-box;
  font-weight: bold;
  color: #455a64;
}

button:disabled,
button[disabled] {
  border: 1px solid #dedede;
  background-color: #cccccc;
  color: #455a64;
  mix-blend-mode: normal;
  opacity: 0.32;
}

.btnGroups {
  display: flex;
}

.labelGroups {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 12px;
  line-height: 40px;
  color: #33333a;
  margin: 0 15px;
}

.btnkits {
  height: 40px;
  margin-left: 5px;
  background: transparent;
  border: 1px solid #dedede;
  box-sizing: border-box;
  font-weight: bold;
  color: #455a64;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 15px;
  font-size: 12px;
}

.btnSelected {
  background: #33333a;
  color: #ffffff;
  border: 1px solid #33333a;
}

.containerAddCar{
  padding: 25px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.btnAddCar{
  height: 40px;
  width: 333px;
  box-sizing: border-box;
  font-weight: bold;
  background: #33333a;
  color: #ffffff;
  border: 1px solid #33333a;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
}

.cntProduct {
  margin-top: 22px;
  height: 41px;
  display: flex;
  justify-content: space-between;
}

.ContContador {
  background: #ffffff;
  border: 1px solid #dedede;
  height: 40px;
  box-sizing: border-box;
  width: 130px;
}

.ContContador button {
  background: #ffffff;
  border: none;
  height: 37px;
  box-sizing: border-box;
  width: 40px;
  font-size: 18px;
}

.inputIncrement {
  background: #ffffff;
  border: none;
  height: 36px;
  box-sizing: border-box;
  width: 40px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #515356;
}

.lblcontador {
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  line-height: 40px;
  color: #33333a;
}

.cntDescription{
  padding: 20px;
  border-top: 1px solid #F9F8F6;
}

.titleDescription{
  padding-bottom: 15px;  
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: left;
  color: #000;
}

.txtDescription{
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: justified;
  color: #666;
}

.readMore{
  padding-top: 10px;
  font-size: 12px;
  line-height: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #33333A;
}

.cntLikeProduct{
  padding-top: 5px;
}

.titleLike{
  font-size: 24px;
  color: #263238;
  padding: 15px;
}

.cntShowProduct{
  height: auto;
  width: 150px;
  padding: 5px;
  margin: 3px;
}

.cntShowImageProduct{
  height: 168px;
  width: 150px;
  background-color: #ECEFF1;
}

.showNameProduct{
  font-size: 16px;
  font-weight: bold;
  color:#263238;
  padding: 5px 20px;
}

.showPriceProduct{
  font-size: 16px;
  color: #9D9D9D;
  padding: 0px 20px;
}

.cntListProducts{
  display: flex;
  overflow-x: scroll;
  scrollbar-width: thin;
  scrollbar-color: #CCC #FFF;
}

.footer {
  height: 70px;
  background: #33333A;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  line-height: 70px;
  font-size: 16px;
  padding: 0 20px;
}

.contLogin{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 375px !important;
  height: 812px;
  background-color: #393FD0; 
}

.navBarLogin{
  height: 60px; 
  display: flex;
  justify-content: space-between;
}

.svgArriba{
  position: absolute;
  left: 50px;
  right: 23.38%;
  top: 0%;
  bottom: 71.04%;  
  opacity: 0.57;  
}

.svgDerecha{
  position: absolute;
  left: 270px;
  right: 0px;
  top: 194px;
  bottom: 35.47%;
  opacity: 0.46;
}

.svgIzquierda{
  position: absolute;
  left: 0%;
  right: 45.66%;
  top: 250px;
  bottom: 37.71%;
  opacity: 0.52;
}

.svgR{
  position: absolute;
  left: 150px;
  right: 150px;
  top: 9.5%;
  bottom: 74.66%;
}

.contentTabs{
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 210px;
}

.containerTab{  
  background-color: #3A3061;
  width: 327px;
  height: 350px;
  opacity: 90%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.groupControl{
  padding: 20px 20px;
}

.centerContainerLogin{
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

.labelControl{
  font-weight: 400;
  color: #F5F5F5;
  text-transform: uppercase;
  font-style: normal;
  padding:10px 0px;
}

.txtControl{  
  border: 0;
  outline: none;
  background-color: #3A3061;
  height: 30px;
  font-size: 16px;
  border-bottom: 1px solid #F5F5F5;
  width: 100%;
  color:#F5F5F5; 
}

/* Toggle Button */
.cm-toggle {
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
	position: relative;
	border: 0;
	outline: 0;
	cursor: pointer;
	margin: 10px;
}


/* To create surface of toggle button */
.cm-toggle:after {
	content: '';
	width: 50px;
	height: 15px;
	display: inline-block;
	background: rgba(196, 195, 195, 0.55);
	border-radius: 18px;
	clear: both;
}


/* Contents before checkbox to create toggle handle */
.cm-toggle:before {
	content: '';
	width: 20px;
	height: 20px;
	display: block;
	position: absolute;
	left: 0;
	top: -3px;
	border-radius: 50%;
	background: rgb(255, 255, 255);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}


/* Shift the handle to left on check event */
.cm-toggle:checked:before {
	left: 32px;
	box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.6);
}
/* Background color when toggle button will be active */
.cm-toggle:checked:after {
	background: #8DE7ED;
}

.suscribe{
  font-size: 16px;
  color: #F5F5F5;  
}

.btnLogin{
  border:0;
  border-radius: 25px;
  width: 280px;
  height: 44px;
  background-color: #2FCEC5;
  color: #FFF;
  font-size: 18px;
  margin: 20px;
}

.linkOlvidar{
  font-size: 16px;
  color:#F5F5F5;
  text-decoration: none;
}

.tabRegister{
  background-color: #3A3061;
  width: 327px;
  height: 440px;
  opacity: 90%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; 
}